ai-assessment-venv
Backend/.env
Backend/logs
*.log
__pycache__/
*.pyc
*.pyo
*.pyd

Backend/__pycache__/
Backend/modules/__pycache__/
Backend/modules/Utils/__pycache__
Backend/config/__pycache__
Backend/modules/OpenAI/__pycache__